<html>
	<head>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body class = pane>
		<h1> Edit </h1>

			<form action='{{url_for('editRestaurant', restaurant_id=restaurant_id)}}' method = 'POST'>

			<p class = rname>{{restaurant.name}}</p>
			<div class = editdeletepane>
			<input type='text' size='30' name='name' placeholder="Update restaurant name">

			<input class = "option smalleroption" type='submit' value='Edit'>
			</div>
			<div class = "option regularoption">
				<a href = '{{url_for('showRestaurants') }}'>Cancel</a>
			</div>

		</form>

	</body>
</html>
